.card {
  position: relative; /* Ensure correct absolute positioning for delete button */
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  max-width: 413px;
}

.card__title {
  font-size: 20px;
  line-height: 24px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 12px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(33, 33, 33, 1);
  max-width: 353px;
  max-height: 20px;
}

.card__like-button {
  background-image: url("../images/Union.svg");
  width: 23px;

  height: 20px;
  border: none;
  opacity: 40%;
  background-color: transparent;
  margin: 12px 0 0 0;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-button_liked {
  opacity: 1;
  background-repeat: no-repeat;
  background-image: url("../images/Liked_update.svg");
}

.card__like-button_liked:hover {
  background-repeat: no-repeat;
  background-image: url("../images/Liked_hover.svg");
}
.card__delete-button {
  position: absolute; /* Fix position to the top-right */
  top: 10px;
  right: 10px;
  background-image: url("../images/trash.svg");
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3); /* Improve visibility */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover Effect */
.card__delete-button:hover {
  background-color: rgba(255, 0, 0, 0.7); /* Change background to red */
  transform: scale(1.2); /* Slightly enlarge the button */
  opacity: 0.9; /* Slightly increase visibility */
}
.card__delete-button img {
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 320px) {
  .card__content {
    max-width: 288px;
  }
  .card__image {
    max-height: 288px;
    /*border-radius: 8px;*/
    max-width: 288px;
    /*padding-bottom: 12px;*/
  }

  .card__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    max-width: 250px;
  }
  /*
    font-size: 20px;
    margin: 0;
    line-height: 20px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
    min-width: 95px;
    width: 99%;

    gap: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 22px;*/

  .card__like-button {
    opacity: 40%;
    /*padding-top: 12px;
    padding-bottom: 22px;*/
    background-repeat: no-repeat;
    margin-left: auto;
  }
}
