.footer {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1; /* Adjusted for readability consistency */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 33, 33, 0.7);
  margin: 0 0 auto;
}

@media (max-width: px) {
  .footer {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}
