/* Modal base style */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

/* Modal opened state */
.modal.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  max-width: 80vw; /* Ensure modal does not exceed 80% of viewport width */
  max-height: 80vh; /* Ensure modal does not exceed 80% of viewport height */
  width: auto;
  height: auto;
  box-sizing: border-box;
  gap: 8px;
  border-radius: 8px;
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.modal__img {
  max-width: 100%; /* Ensures image does not exceed modal width */
  max-height: 100%; /* Ensures image does not exceed modal height */
  object-fit: contain; /* Ensures image fits without cropping */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  width: 100%;
  box-sizing: border-box;
  max-width: 730px;
  position: relative;
  border-radius: 8px;
  max-height: 408px;
}
.modal__container-title {
  display: flex;
  align-items: center; /* Ensures both title and button align vertically */
  justify-content: space-between; /* Ensures space between title and button */
  width: 100%;
  padding-bottom: 32px;
  width: 630px;
  height: 40px;
  gap: 421px;
  opacity: 0px;
  /**padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 50px;**/
}

.modal__title {
  font-size: 32px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  margin: 0; /* Removes unnecessary margin */
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 33, 33, 1);
}
.modal__close-btn {
  background-image: url("../images/Group27.svg");
  border: none;
  cursor: pointer;
  margin-left: auto; /* Pushes button to the right */
  width: 40px;
  height: 40px;
  gap: 0px;
  opacity: 0.4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.modal__close-btn:hover {
  background-color: black; /* Black background on hover */
  background-image: url("../images/Close_3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* Click effect (active state) */
.modal__close-btn:active {
  background-color: black; /* Black background on hover */
  background-image: url("../images/Close_4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.modal__close-btn-image {
  width: 22.63px;
  height: 22.63px;
  top: 20.49px;
  left: 4.49px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
}
.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 100%;
}
.modal__close {
  position: absolute;
  background-image: url("../images/Group_Close.svg");
  top: 0px; /* Adjust vertical position */
  right: -52.5px; /* Move to the side */
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5); /* Background for visibility */

  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; /* Ensure no background override */
  color: white;
  font-size: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 0;
  margin: 0;
}

.modal__close-preview {
  border: 2px solid rgba(255, 255, 255, 1);
  width: 22px;
  height: 22px;
  background-image: url("../images/Group_Close.svg");
  background-size: contain; /* Ensures image fits */
  background-repeat: no-repeat;
  background-position: center;
  display: block; /* Ensure it is visible */
}

.modal__close:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
  transform: scale(1.1); /* Slight enlargement */
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  min-width: 49px;
  min-height: 18px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.modal__input {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  width: 630px;
  height: 52px;
  padding: 16px 12px 16px 12px;
  gap: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-bottom: 32px;
  margin-top: 8px;
}

/* Hover Effect */
.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__input:hover::placeholder {
  border-color: rgba(33, 33, 33, 0.4);
}

.modal__caption {
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  border-radius: 8px;
  margin: 0;
  line-height: 120%;
  letter-spacing: 0;
  color: #fff;
  background-color: rgba(33, 33, 33, 1);
  font-size: 20px;
}

.modal__submit-btn {
  /**margin-top: 32px;**/
  padding: 12px;
  font-size: 16px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.2s ease-in-out;
  width: 156px;
  height: 52px;
  padding: 18px 32px 18px 32px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;
}
.modal__submit-btn:hover {
  background: rgba(
    33,
    33,
    33,
    0.8
  ); /* Darker semi-transparent shade on hover */
  transform: scale(1.05); /* Slightly enlarges the button */
}

@media (max-width: 320px) {
  .modal__container {
    padding: 12px;
    width: 300px;
    height: 336px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal__title {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
  }

  .modal__container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-bottom: 24px;
    /*  padding-top: 12px;*/
    gap: 8px; /* Ensure proper spacing */
    position: relative;
  }

  .modal__submit-btn {
    font-size: 14px;
    padding: 10px;
    width: 40;
    height: 40;
    opacity: 0.4;
  }

  .modal__label {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: 0%;
    color: rgba(33, 33, 33, 0.7);
  }

  .modal__close-btn {
    width: 40px; /* Adjusted for better balance */
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* Pushes it to the right within the container */
    width: 40;
    height: 40;
    top: 80px;
    left: 956px;
  }

  .modal__close-btn-image {
    width: 22.3px; /* Adjusted for better balance */
    height: 22.3px;
    opacity: 1;
  }

  .modal__input {
    width: 100%; /* Makes the input responsive */
    max-width: 276px; /* Ensures it doesn't stretch beyond a reasonable size */
    height: 48px; /* Adjust height if needed */
    padding: 16px 12px; /* Keeps spacing consistent */
    box-sizing: border-box; /* Ensures padding doesn’t increase width */
  }
  .modal__submit-btn {
    width: 100%;
    background-color: rgba(33, 33, 33, 1);
  }
  .modal__input {
    margin-bottom: 24px;
  }
  .modal__caption {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .modal__close {
    position: absolute;
    background-image: url("../images/Group_Close.svg");
    top: 0px; /* Adjust vertical position */
    right: -52.5px; /* Move to the side */
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5); /* Background for visibility */

    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; /* Ensure no background override */
    color: white;
    font-size: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 0;
    margin: 0;
  }
  .modal-content {
    padding: 0;
    margin: 0;
  }
}
/**
@media (max-width: 320px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
    border-radius: 8px;
    min-width: 100%;
    max-width: 330px;
    max-height: 336px;
  }
  .modal__title {
    font-size: 20px;
    margin: 12px 0 24px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .modal__input {
    padding-bottom: 24px;
  }
  .modal__close-btn {
    top: 20.49px;
    right: 4.49px;
    width: 40px;
    height: 40px;
    gap: 0px;
    opacity: 0.4px;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 1;
  }
  .modal__label {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 8px;
  }
  .modal__submit-btn {
    width: 100%;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    font-size: 14px;
    padding: 10px;
    margin-top: 24px;
  }
}**/
