.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-size: cover;
}
.page__section {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 627px) {
  .page__section {
    top: 360px;
    left: 16px;
    padding: 0px 0px 20px 0px;
    gap: 20px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    max-width: 320px;
    max-height: 2524px;
    top: 1145px;
    left: -778px;
    gap: 0px;
    opacity: 0px;
  }
}
